{% block layout_header_navigation_toggle %}
        <div class="menu-button">
            {% block layout_header_navigation_toggle_button %}
                <button class="btn nav-main-toggle-btn header-actions-btn"
                        type="button"
                        data-offcanvas-menu="true"
                        aria-label="{{ "general.menuLink"|trans|striptags }}">
                    {% block layout_header_navigation_toggle_button_icon %}
                        {% sw_icon 'stack' %}
                    {% endblock %}
                </button>
            {% endblock %}
        </div>
{% endblock %}
